<app-header></app-header>


<ion-content id="main-content" fullscreen class="main-content">
  <!-- Fondo dinámico -->
  <div class="fondo-pagina"></div>

  <!-- Hero -->

  <ion-button class="custom-button" routerLink="/chatbot">
    Ir al Chatbot
  </ion-button>
  
  <div class="seccion-principal">
    <h1 class="titulo-principal">Safe city</h1>
    <p class="subtitulo-principal">
      Innovamos para protegerte. La seguridad está en tus manos.
    </p>
  </div>
  
  <!-- Funcionalidades destacadas -->
  <div class="seccion-funcionalidades">
    <ion-card class="tarjeta-personalizada" [routerLink]="['/informacion']">
      <ion-icon name="information-circle-outline" class="icono-tarjeta"></ion-icon>
      <ion-card-title>Información</ion-card-title>
      <ion-card-content>
        Accede a datos relevantes sobre tu seguridad y entorno.
      </ion-card-content>
    </ion-card>
  
    <ion-card class="tarjeta-personalizada" [routerLink]="['/personas']">
      <ion-icon name="people-outline" class="icono-tarjeta"></ion-icon>
      <ion-card-title>Personas</ion-card-title>
      <ion-card-content>
        Conecta con tu comunidad para compartir datos en tiempo real.
      </ion-card-content>
    </ion-card>
  
    <ion-card class="tarjeta-personalizada" [routerLink]="['/colaboradores']">
      <ion-icon name="shield-checkmark-outline" class="icono-tarjeta"></ion-icon>
      <ion-card-title>Colaboradores</ion-card-title>
      <ion-card-content>
        Descubre a quienes trabajan para mantener tu seguridad.
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

  <ion-footer class="custom-footer">
    <div class="footer-content">
      <div>© 2024 Safe City</div>
      <div class="social-icons">
        <ion-icon name="logo-instagram"></ion-icon>
        <ion-icon name="logo-facebook"></ion-icon>
        <ion-icon name="logo-whatsapp"></ion-icon>
        <ion-icon name="logo-twitter"></ion-icon>
      </div>
    </div>
  </ion-footer>