  <!-- header inicio -->
  <ion-menu contentId="main-content">
    <!-- Encabezado del menú g-->
    <ion-header>
      <ion-toolbar>
        <ion-title>Menú</ion-title>
        <ion-buttons slot="start">
          <ion-menu-button autoHide="false" class="menu-button"></ion-menu-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
  
    <!-- Contenido del menú -->
    <ion-content>
      <ion-list>
        <ion-item [routerLink]="['/home']">Inicio</ion-item>
        <ion-item [routerLink]="['/login']">Iniciar Sesión</ion-item>
        <ion-item [routerLink]="['/QnSomos']">¿Quiénes somos?</ion-item>
      </ion-list>
    </ion-content>
  
    <!-- Footer del menú -->
    <ion-footer class="menu-footer">
      <div class="footer-menu-content">
        <div>© 2024 Safe City</div>
        <div class="social-icons">
          <ion-icon name="logo-instagram"></ion-icon>
          <ion-icon name="logo-facebook"></ion-icon>
          <ion-icon name="logo-whatsapp"></ion-icon>
          <ion-icon name="logo-twitter"></ion-icon>
        </div>
      </div>
    </ion-footer>
  </ion-menu>
  
  <ion-header translucent>
    <ion-toolbar class="custom-toolbar">
      <ion-buttons slot="start">
        <ion-menu-button autoHide="false" class="menu-button"></ion-menu-button>
      </ion-buttons>
      <ion-title class="custom-title">Safe City</ion-title>
      <ion-buttons slot="end">
        <ion-icon name="notifications-outline" class="icon-notification"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
    <!-- header final g-->
     
<!-- Contenido principal -->
<div class="ion-page" id="login-content"> <!-- Cambiado el id a login-content -->
  <ion-content class="ion-padding">
    <div class="login-container">
      <h1 class="main-titulo">Iniciar sesión</h1>

      <div class="form-container">
        <h2 class="subtitle">INICIO DE SESIÓN POR CORREO</h2>
        <h3 class="title">Iniciar sesión</h3>

        <form>
          <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email" required></ion-input>
            <ion-icon name="mail-outline" slot="end"></ion-icon>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" required></ion-input>
            <ion-icon name="lock-closed-outline" slot="end"></ion-icon>
          </ion-item>

          <div class="recuperar-contra">
            <a href="#">¿Olvidó su contraseña?</a>
          </div>

          <ion-button expand="block" class="login-button">Iniciar sesión</ion-button>

          <ion-item lines="none" class="recuerdame">
            <ion-label>Recuérdame</ion-label>
            <ion-toggle slot="end"></ion-toggle>
          </ion-item>

          <ion-button expand="block" fill="outline" class="boton-inicio">
            <ion-icon name="logo-google" slot="start"></ion-icon>
            Iniciar sesión con Google
          </ion-button>
        </form>
      </div>

      <div class="registro-text">
        <p>No tienes una cuenta? <a [routerLink]="['/registro']">Regístrate aquí</a></p>
      </div>
    </div>
  </ion-content>
</div>

<ion-footer class="custom-footer">
  <div class="footer-content">
    <div>© 2024 Safe City</div>
    <div class="social-icons">
      <ion-icon name="logo-instagram"></ion-icon>
      <ion-icon name="logo-facebook"></ion-icon>
      <ion-icon name="logo-whatsapp"></ion-icon>
      <ion-icon name="logo-twitter"></ion-icon>
    </div>
  </div>
</ion-footer>



