<app-header></app-header>

<!-- Contenido principal -->
<div class="ion-page" id="login-content"> 
  <ion-content class="ion-padding" id="main-content">
    <div class="login-container">
      <h1 class="main-titulo">Iniciar sesión</h1>

      <div class="form-container">
        <h2 class="subtitle">INICIO DE SESIÓN POR CORREO</h2>
        <h3 class="title">Iniciar sesión</h3>

        <form>
          <ion-item>
            <ion-label position="floating" style="color: black;">Email</ion-label>
            <ion-input style="color: black;" type="email" required></ion-input>
            <ion-icon name="mail-outline" slot="end"></ion-icon>
          </ion-item>

          <ion-item>
            <ion-label position="floating" style="color: black;">Contraseña</ion-label>
            <ion-input style="color: black;" type="password" required></ion-input>
            <ion-icon name="lock-closed-outline" slot="end"></ion-icon>
          </ion-item>

          <div class="recuperar-contra">
            <a style="color: black;" href="#">¿Olvidó su contraseña?</a>
          </div>

          <ion-button expand="block" class="login-button">Iniciar sesión</ion-button>

          <ion-item lines="none" class="recuerdame">
            <ion-label>Recuérdame</ion-label>
            <ion-toggle slot="end"></ion-toggle>
          </ion-item>

          <ion-button expand="block" fill="outline" class="boton-inicio">
            <ion-icon name="logo-google" slot="start"></ion-icon>
            Iniciar sesión con Google
          </ion-button>
        </form>
      </div>

      <div class="registro-text">
        <p>No tienes una cuenta? <a [routerLink]="['/registro']">Regístrate aquí</a></p>
      </div>
    </div>
  </ion-content>

  <!-- Footer -->
  <ion-footer class="custom-footer">
    <div class="footer-content">
      <div>© 2024 Safe City</div>
      <div class="social-icons">
        <ion-icon name="logo-instagram"></ion-icon>
        <ion-icon name="logo-facebook"></ion-icon>
        <ion-icon name="logo-whatsapp"></ion-icon>
        <ion-icon name="logo-twitter"></ion-icon>
      </div>
    </div>
  </ion-footer>
</div>
