:host {
  --ion-background-color: #ffffff;

}

.login-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 20px;
}

.main-titulo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.form-container {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.subtitle {
  font-size: 12px;
  color: #666666;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

ion-item {
  --background: #f4f4f4;
  --border-radius: 4px;
  --padding-start: 0;
  margin-bottom: 16px;
}

ion-label {
  color: #666666;
}

ion-icon {
  color: #666666;
}

.recuperar-contra {
  text-align: right;
  margin-bottom: 20px;
}

.recuperar-contra a {
  color: #7e57c2;
  font-size: 14px;
  text-decoration: none;
}

.login-button {
  --background: #7e57c2;
  --border-radius: 4px;
  margin-bottom: 16px;
}

.recuerdame {
  --background: transparent;
  margin-bottom: 16px;
}

.boton-inicio {
  --border-color: #cccccc;
  --border-radius: 4px;
  --color: #333333;
}

.registro-text {
  text-align: center;
  margin-top: 20px;
}

.registro-text a {
  color: #7e57c2;
  font-weight: bold;
  text-decoration: none;
}

/* Estilos generales */
.custom-toolbar {
  background-color: #000a14;
}

.menu-button {
  color: rgb(0, 0, 0);
}

.custom-title {
  color: #df0909d8;
  font-weight: bold;
}


.custom-footer {
  background: #004ba8;
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
  
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
  color:#cccccc
}
  
