<ion-button [routerLink]="['/home']">Volver</ion-button>
<ion-content class="ion-padding">
  <div class="login-container">
    <h1 class="main-titulo">Iniciar sesión</h1>

    <div class="form-container">
      <h2 class="subtitle">INICIO DE SESIÓN POR CORREO</h2>
      <h3 class="title">Iniciar sesión</h3>

      <form>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" required></ion-input>
          <ion-icon name="mail-outline" slot="end"></ion-icon>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" required></ion-input>
          <ion-icon name="lock-closed-outline" slot="end"></ion-icon>
        </ion-item>

        <div class="recuperar-contra">
          <a href="#">¿Olvidó su contraseña?</a>
        </div>

        <ion-button expand="block" class="login-button">Iniciar sesión</ion-button>

        <ion-item lines="none" class="recuerdame">
          <ion-label>Recuérdame</ion-label>
          <ion-toggle slot="end"></ion-toggle>
        </ion-item>

        <ion-button expand="block" fill="outline" class="boton-inicio">
          <ion-icon name="logo-google" slot="start"></ion-icon>
          Iniciar sesión con Google
        </ion-button>
      </form>
    </div>

    <div class="registro-text">
      <p>No tienes una cuenta? <a [routerLink]="['/registro']">Regístrate aquí</a></p>
    </div>
  </div>
</ion-content>