<app-header></app-header>

<!-- Encabezado principal -->
<ion-content id="main-content" [fullscreen]="true">


  <!-- Sección: Novedades en la Comuna -->
  <ion-header>
    <ion-toolbar>
      <ion-title size="small" class="novedades-title">Novedades en la Comuna</ion-title>
    </ion-toolbar>
  </ion-header>


    <ion-list>
      <!-- Categoría 1: Eventos Comunitarios -->
      <ion-item-divider>Eventos Comunitarios</ion-item-divider>
      <ion-card>
        <ion-img src="../../assets/image/evento de seguridad comunitaria.jpg"></ion-img>
        <ion-card-header>
          <ion-card-title>Evento de Seguridad Comunitaria</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Únete a nuestro evento este fin de semana para discutir y aprender sobre medidas de seguridad comunitaria.
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-img src="../../assets/image/eventos comunitarios.jpg"></ion-img>
        <ion-card-header>
          <ion-card-title>Reunión Vecinal</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Participa en la reunión vecinal y da tu opinión sobre cómo mejorar la seguridad en nuestra comunidad.
        </ion-card-content>
      </ion-card>

      <!-- Categoría 2: Infraestructura y Servicios -->
      <ion-item-divider>Infraestructura y Servicios</ion-item-divider>
      <ion-card>
        <ion-img src="../../assets/image/centro de emergencias.jpg"></ion-img>
        <ion-card-header>
          <ion-card-title>Nuevo Centro de Emergencias</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Se ha inaugurado un nuevo centro de atención de emergencias en la zona para brindar soporte las 24 horas.
        </ion-card-content>
      </ion-card>

      <!-- Categoría 3: Recreación -->
      <ion-item-divider>Recreación</ion-item-divider>
      <ion-card>
        <ion-img src="../../assets/image/tallejeres.jpg"></ion-img>
        <ion-card-header>
          <ion-card-title>Talleres Recreacionales</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          Participa en nuestros talleres recreativos y culturales. ¡Inscríbete ahora para aprender algo nuevo!
        </ion-card-content>
      </ion-card>
    </ion-list>

</ion-content>

<!-- Pie de página -->
<ion-footer class="custom-footer">
  <div class="footer-content">
    <div>© 2024 Safe City</div>
    <div class="social-icons">
      <ion-icon name="logo-instagram"></ion-icon>
      <ion-icon name="logo-facebook"></ion-icon>
      <ion-icon name="logo-whatsapp"></ion-icon>
      <ion-icon name="logo-twitter"></ion-icon>
    </div>
  </div>
</ion-footer>


 


