/* Estilos generales */
.custom-toolbar {
  background-color: #000a14;
}

.menu-button {
  color: rgb(0, 0, 0);
}

.custom-title {
  color: #df0909d8;
  font-weight: bold;
}

.login-button {
  margin-left: 10px;
  border-radius: 5px;
  background-color: white;
  border: 2px solid #34495E;
  color: #34495E;
}

/* Estilos para el contenido principal */
.main-content {
  background-color: #ECF0F1;
  color: #333;
}

.content-container {
  text-align: center;
  margin-top: 10%;
}

.main-title {
  font-size: 2rem;
  font-weight: bold;
}

.main-subtitle {
  font-size: 1rem;
  margin: 10px 0;
}

.button-group {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 0;
}

.custom-button {
  margin: 10px;
  background-color: #34495E;
  color: #fff;
}

/* Estilos para la imagen */
.image-section {
  margin-top: 20px;
}

.image-title {
  font-size: 1.5rem;
  color: #2C3E50;
}

.app-image {
  width: 200px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

/* Estilos del footer */
.custom-footer {
  background-color: #2C3E50;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}


/* Estilos del footer */
.custom-footer {
  background-color: #2C3E50;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 600px; /* Ajusta según lo que necesites */
  padding: 0 15px;
}

.social-icons {
  display: flex;
  gap: 15px;
}

/* Tamaño de los iconos */
ion-icon {
  font-size: 24px;
  color: white;
}

/* Estilos del footer en el menú */
.menu-footer {
  background-color: #2C3E50;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 10px;
}

.footer-menu-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.social-icons {
  display: flex;
  gap: 15px;
  margin-top: 5px;
}

ion-icon {
  font-size: 20px;
  color: white;
}