/* Fondo dinámico */
.fondo-pagina {
  position: fixed ;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #004ba8, #00bcd4);
  z-index: -1;
}

/* Sección principal */
.seccion-principal {
  text-align: center;
  padding: 40px 20px;
  color: #ffffff;
}

.titulo-principal {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 10px;
}

.subtitulo-principal {
  font-size: 1rem;
  margin-bottom: 20px;
}

.boton-accion {
  --background: #00bcd4;
  --color: #fff;
  font-weight: bold;
  border-radius: 50px;
  padding: 10px 20px;
}

/* Tarjetas */
.seccion-funcionalidades {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
}

.tarjeta-personalizada {
  background: #ffffff;
  border-radius: 10px;
  width: 300px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

.tarjeta-personalizada:hover {
  transform: scale(1.05);
}

.icono-tarjeta {
  font-size: 40px;
  color: #004ba8;
  margin-bottom: 10px;
}

.titulo-tarjeta {
  color: #004ba8;
  font-weight: bold;
}

ion-card-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(130, 130, 130);
  margin: 10px 0;
}

.custom-footer {
  background: #004ba8;
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
  
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}
  

