<ion-button [routerLink]="['/login']">Volver</ion-button>
<ion-content class="ion-padding">
  <div class="login-container">
    <h1 class="main-titulo">¡Únete Ahora!</h1>

    <div class="form-container">
      <h3 class="title">Regístrate</h3>

      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <!-- Campo de Nombre -->
        <ion-item>
          <ion-label position="floating">Nombre</ion-label>
          <ion-input type="text" formControlName="nombre" required></ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="formControls['nombre'].invalid && formControls['nombre'].touched">
          El nombre es requerido y debe tener al menos 2 caracteres.
        </ion-text>

        <!-- Campo de Apellido -->
        <ion-item>
          <ion-label position="floating">Apellido</ion-label>
          <ion-input type="text" formControlName="apellido" required></ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="formControls['apellido'].invalid && formControls['apellido'].touched">
          El apellido es requerido y debe tener al menos 2 caracteres.
        </ion-text>

        <!-- Campo de Email -->
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" formControlName="email" required></ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="formControls['email'].invalid && formControls['email'].touched">
          El email es requerido y debe ser un formato válido.
        </ion-text>

        <!-- Campo de Contraseña -->
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" formControlName="password" required></ion-input>
          <ion-icon name="lock-closed-outline" slot="end"></ion-icon>
        </ion-item>
        <ion-text color="danger" *ngIf="formControls['password'].invalid && formControls['password'].touched">
          La contraseña es requerida y debe tener al menos 6 caracteres.
        </ion-text>

        <!-- Campo de Confirmar Contraseña -->
        <ion-item>
          <ion-label position="floating">Repite tu contraseña</ion-label>
          <ion-input type="password" formControlName="confirmPassword" required></ion-input>
          <ion-icon name="lock-closed-outline" slot="end"></ion-icon>
        </ion-item>
        <ion-text color="danger"
          *ngIf="formControls['confirmPassword'].errors?.['passwordsDoNotMatch'] && formControls['confirmPassword'].touched">
          Las contraseñas no coinciden.
        </ion-text>

        <!-- Botones -->
        <ion-button expand="block" class="login-button" type="submit" [disabled]="registerForm.invalid">Iniciar
          sesión</ion-button>
        <ion-button expand="block" fill="outline" class="boton-inicio">
          <ion-icon name="logo-google" slot="start"></ion-icon>
          Registrarse con Google
        </ion-button>
      </form>
    </div>
  </div>
</ion-content>